/* Special for tablet views */
.input-xxl{
  height: 50px !important;
}
@media (max-width: 768px) {

form input[type="text"]::-webkit-input-placeholder,form input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #b8bcce;
}
form input[type="text"]::-moz-placeholder,form input[type="password"]::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  color: #b8bcce;
}
form input[type="text"]:-ms-input-placeholder,form input[type="password"]::-moz-placeholder, { /* IE 10+ */
  font-size: 14px;
  color: #b8bcce;
}
form input[type="text"]:-moz-placeholder,form input[type="password"]:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  color: #b8bcce;
}
select{
    background-color: #fff;
    height: 40px;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    font-size: 13px;
}
.m-t-xxs{
  margin-top: 3px;
}
button{
  font-weight: 600 !important;
  border-radius: 4px !important;
  -moz-border-radius:4px !important;
  -webkit-border-radius:4px !important;
}
.container{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
.input-group-addon,.form-control{
        border-radius: 5px;
   -moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

/*Loading Screen Homepage*/
.bg-screen{
  width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: -3px 0px 6px 0px #424759;
  z-index: 10;
}
.homepage .bg-screen,.login .bg-screen{  
  background: url(../img/bg-mobile.png) no-repeat center center;
  background-size: cover;
}
.pages .bg-screen{

}
.homepage .logo img{
  width: 70%;
  margin: 50% auto;
  display: block;
}
.login .logo img{
  width: 70%;
  margin: 50% auto 40px auto;
  display: block;
}
.loader svg{
    width: 102px;
    height: 86px;
    margin: 20px auto;
    display: inherit;
    padding-left: 27px;
  }
  
  form input[type="text"],form input[type="password"]{
    font-size: 14px;
    color: #9da1b5;
  }
  .modal .form-horizontal .input-group{
    width: 100%;
  }
  .form-horizontal textarea{
    width: 100%;
    border: 1px solid #b8bcce;
    border-radius: 5px !important;
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
  }
  .form-horizontal .input-group-addon{
    border:none;
  }
  .form-horizontal .input-group-addon i{
    color: #b8bcce;
  }

  .login .checkbox label,.login .checkbox label a{
    font-size: 13px;
    color: #b8bcce;
    text-decoration: none;
    font-weight: 600;
  }
  
  /* Top Label */
  .top-label{
    padding: 15px 20px;
    background-color: #b8bcce;
  }
  .top-label p{
    color: #fff;
    font-size: 13px;
    margin-bottom: 0;
  }
  /* Top Header */
  .top-header{
    width: 100%;
    height: 90px;
    padding: 50px 0 0;
  }
  .top-header a i{
    font-size: 20px;
    color: #fff;
  }
  .top-header p{
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    width: 84%;
  }

  /* Top Profile */
  .top-profile{
    background: url(../img/bg-profile.png) no-repeat center center;
    width: 100%;
    height: 240px;
  }
  .top-profile .profile{
    padding: 45px;
  }
  .top-profile .profile span.thumb-md{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .top-profile .profile p{
    width: 100%;
    text-align: center;
  }
  /*Forgot Password*/
  .wrapper-mobile{
    padding: 30px;
  }
  .bg-dark-grey{
    background-color: #555b70;
  }
  .bg-grey{
    background-color: #e0e2eb;
  }

  .btn-soft-green{
    background-color: #e6f9bd;
    color: #555b70;
  }
  .btn-soft-green-notif{
    background-color: #e6f9bd;
    color: #8dc80e;
    text-align: left;
  }

  .btn-soft-red{
    background-color: #fed6d6;
    color: #ef0000;
    padding: 8px 15px !important ;
    font-size: 13px;
  }

  .btn-soft-orange{
    background-color: #fff1bf;
    color: #555b70;
  }
  
  .btn-orange{
    background-color: #ff7e00;
    color: #ffffff; 
  }
  .form-horizontal p{
    font-size: 14px;
    color: #b8bcce;
    margin: 20px 0;
    line-height: 24px;
  }
  .app-aside{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: block !important;
    width: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
    background-color: #555b70;
    left: -75%;
    z-index: 10;
    
  }
  .profile{
    position: relative;
    padding: 60px 25px;
  }
  .profile img{
    width: 55px;
  }
  .profile p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0px;
    width: 60%

  }
  .profile span{
    font-size: 12px;
    color: #b8bcce;
  }
  nav{
    position: relative;
  }
  nav ul{
    padding: 20px 0;
    margin: 0;
  }  
  nav ul li a{
    float: left;
    width: 100%;
    color: #fff !important;
    font-size: 14px;
    padding: 12px 40px;
    width: 100%;
    border-top: 1px solid #5b6176; 
  }
  nav ul li a i{
    color: #767d99;
    font-size: 16px !important;
  }
  nav ul li:last-child a{
    border-bottom: 1px solid #5b6176;  

  }

  nav ul li.active a{
    color: #00b0ef !important;
    background-color: #484f65;
  }
  nav ul li.active a i{
    color: #00b0ef;
  }

  nav ul li ul.submenu{
    padding: 0 20px;
    display: none;
  }
  
  /* Content */

  .content{
    padding: 20px;
    min-height: 100%;
  }

  .list-card{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
  }
  .list-card .image{
    margin-top: 20px;
    overflow: hidden;
  }
  .list-card .image,.list-card .image #maps,.list-card .image .maps{
    width: 100%;
    height: 120px;
    
  }
  .list-card .image img{
    max-width: 100%;
    height: auto;
  }
  .list-card .heading{
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e0e2eb;
  }
  .list-card .heading i{
    color: #bdc0ca;
    float: left;
    font-size: 25px;
    margin-right: 10px;
  }
  .list-card .heading p{
    color: #ff7e00;
    font-size: 13px;
    font-weight: 600;
    float: left;
    width: 75%;
  }
  .list-card .heading.full p{
    width: 100%;
  }
  .list-card .heading.full p span{
    color: #8dc80e;
    float: right;
  }
  .list-card .heading span.badge{
    background-color: #8dc80e;
    font-size: 12px;
    font-weight: 600;
    float: left;
    margin-right: 10px;
    padding: 5px 8px !important;
  }
  .list-content .row {
    cursor: pointer;
  }
  .list-content .row p{
    font-weight: 600;
    font-size: 13px;
  }
  .list-content .row p.text-green{
    color: #8dc80e;
    padding-right: 20px;
  }
  .list-content .row{
    
  }
  .list-content p{
    font-size: 13px;
    color: #555b70;
    border-bottom: 1px solid #e0e2eb; 
    padding: 15px 0;
    margin: 0;
    line-height: 24px;
  }
  .list-content p span{
    color: #8dc80e;  
  }

   .list-content p span.grey{
    color: #b8bcce;  
    margin-top: 10px;
    margin-right: 5px;
  }

  

  .list-content button{
    margin-top: 20px;
  }
  .list-content button i{
    margin-right: 8px;
    font-size: 18px;
  }
  
  .list-detail{
    background-color: #fff;    
  }

  .list-detail .list-content{
    padding: 20px;
  }
  .list-detail .list-content p{
    padding-top: 5px;
    margin-bottom: 15px;
  }
  .list-detail .list-content span.label{
    font-size: 12px;
    color: #ff7e00 !important;
    font-weight: normal;
    padding: 0;
    
  }
  .list-detail .list-content #maps,.list-detail .list-content .maps{
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }
  
  /* Tab Mobile */
  .tabs-alt-mobile{
    margin-top: -52px;

  }
  .tabs-alt-mobile .nav-tabs > li.active > a{
    background-color: transparent;
    color: #fff !important;
    border-bottom: 3px solid #ff7e00 !important;
    font-size: 14px;
    border:none;
    
  }
  .tabs-alt-mobile .nav-tabs > li > a{
    background-color: transparent;
    color: #b8bcce !important;
    border-bottom: 3px solid #484f65 !important;
    padding: 15px 10px;
    font-size: 14px;
    margin-right: 0;
    border: none;

  }
  .tabs-alt-mobile .nav-tabs > li > a > span.badge{
    margin-right: 5px;
    margin-top: -2px;
    background-color: #555b70;
    color: #fff;
  }
  .tabs-alt-mobile .nav-tabs > li.active > a span.badge{
    background-color: #ff7e00;

  }
  .tab-content-alt-mobile{
    background-color: transparent;
  }
  .tabs-alt-mobile .nav-tabs li{
    width: 33.3333%;
    text-align: center;
  }

  /* Tab Mobile Blue */
  .tabs-alt-mobile-blue{
    margin-top: -52px;

  }
  .tabs-alt-mobile-blue .nav-tabs > li.active > a{
    background-color: #00a8f3;
    color: #fff !important;
    border-bottom: 3px solid #ff7e00 !important;
    font-size: 13px;
    border:none;
    
  }
  .tabs-alt-mobile-blue .nav-tabs > li > a{
    background-color: #00a8f3;
    color: #9ee3fc !important;
    border-bottom: 3px solid #00a8f3 !important;
    padding: 15px 10px;
    font-size: 13px;
    margin-right: 0;
    border: none;

  }
  .tabs-alt-mobile-blue .nav-tabs > li > a > span.badge{
    margin-right: 5px;
    margin-top: -2px;
    background-color: #048ebf;
    color: #fff;
  }
  .tabs-alt-mobile-blue .nav-tabs > li.active > a span.badge{
    background-color: #ff7e00;

  }
  
  .tabs-alt-mobile-blue.half .nav-tabs li{
    width: 50%;
    text-align: center;
  }
  .tabs-alt-mobile-blue.three .nav-tabs li{
    width: 33.333%;
    text-align: center;
  }
  
  .fixed-button{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10;
  }
  .fixed-button button{
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
  }
  .btn-green{
    background-color: #8dc80e;
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
  .btn-green i{
    margin-right: 10px;
  }
  .fixed-button.bg-grey{
    background-color: #575757;
    height: 50px;
    padding: 10px 20px;
  }
  .fixed-button.bg-grey a{
    color: #e0e2eb;
    font-size: 14px;
    font-weight: 600;
  }
  .fixed-button.bg-grey a:first-child,.fixed-button.bg-grey a:last-child{
    width: 43%;
    
  }
  .fixed-button.bg-grey a:nth-child(2){
    margin: 0;
    float: left;
    border-right: 1px solid #696868;
    border-left: 1px solid #696868;
    padding: 5px 10px;
  }
  .fixed-button.bg-grey a:first-child{
    float: left;
    margin: 5px 0px;
    
  }
  .fixed-button.bg-grey a:last-child{
    float: right;
    text-align: right;
    margin: 5px 0px;    
  }
  .fixed-button.bg-grey a i{
     font-size: 20px;   
  }
  .fixed-button.bg-grey a:first-child i,.fixed-button.bg-grey a:last-child i{
    font-size: 25px;   
    
  }
  .fixed-button.bg-grey a:last-child i{
    margin-left: 13px;
    margin-top: -3px; 
    float: right;
  }
  .fixed-button.bg-grey a:first-child i{
    float: left;  
    margin-top: -3px;    
    margin-right: 13px;
  }
  

  /* Progress Tracker */
  ul.progress-tracker {
    display:table;
    width:100%;
    margin-top: 30px;
    padding: 0 0 40px;
  }
  ul.progress-tracker li {
    display:table-cell;
    text-align:center;
    position: relative;
  }

  ul.progress-tracker li .step {
      width: 30px;
      height: 30px;
      margin: 0 auto;
      text-align: center;
      background-color: #e0e2eb;
      border-radius: 30px;
      line-height: 30px;
      position: relative;
      z-index: 1;
    }

  ul.progress-tracker li .step i{
    color: #e0e2eb;    
  }
  ul.progress-tracker li.complete .step i{
    color: #fff;
  }

  ul.progress-tracker li.complete .step{
    background-color: #8dc80e;
  }
    
  ul.progress-tracker li .label {
      position:absolute;
      left: 0;
      right: 0;
      margin-top: 10px;
      color: #e0e2eb !important;
      font-weight: 600;
      font-size: 12px;
    }
    
  ul.progress-tracker li.complete .label{
    color: #555b70 !important;
  }
    ul.progress-tracker li::after {
        content: '';
        position: absolute;
        width: 100%;
        background-color: #e0e2eb;
        height: 3px;
        left: 0;
        top: 14px;
    }
    ul.progress-tracker li.complete::after {
        background-color: #8dc80e;
    }

  .button-action{
    border-top: 1px solid #e0e2eb;
    padding: 20px 0 40px 0;

  }
  .button-action a{
    width: 33.333%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #abafbe;
    border-right: 1px solid #e0e2eb;
    padding: 8px 0;
  }  
  .button-action a:last-child{
    border-right: none;
  }
  .button-action a.active{
    color: #00b0ef;
  }
  .button-action a i{
    font-size: 16px;
    margin-right:  5px;
  }
  .button-action a.w-half{
    width: 50%;
    padding: 0;
    border-right: 1px solid #e0e2eb;
    border-left: 1px solid #e0e2eb;
    font-size: 13px;
  }
   .button-action a.w-half:last-child{
    border-left: none;
   }

  ul.child-kecamatan{
    margin: 48px 15px 0;
    padding: 0;
    background-color: #f3f4f8;
    display: none;
  }
  ul.child-kecamatan li{
    padding: 10px 20px;
    font-size: 13px;
    color: #555b70;
    border-bottom: 1px solid #e0e2eb;
  }
  ul.child-kecamatan li span{
    float: right;
    color: #00b0ef;
  }
  ul.child-kecamatan li i{
    font-size: 7px;
    margin-right: 8px;
    color: #00b0ef;
    margin-top: 5px;
    float: left;

  }
  
  .notifikasi span.time{
    font-size: 12px;
    color: #b8bcce;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    width: 100%;
  }
  .notifikasi p{
    padding: 15px 0 35px 0;    
  }
  .notifikasi p i{
    font-size: 8px;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
  }
  .notifikasi p i.red{
    color: #ed1c24;
  }
  .notifikasi p i.yellow{
    color: #ffcc00;
  }
  .notifikasi p i.green{
    color: #8dc80e;
  }

  /* Carousel */
  .carousel-indicators .active{
    width: 10px;
    height: 10px;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.4);
    border:none; 
    margin:0;
    margin: 0 3px;
  }
  .input-usulan .form-horizontal .input-group{
    width: 100%;
    border-bottom: 1px solid #e0e2eb; 
  }
  .input-usulan input[type="Text"]{
    padding-left: 0;
  }
  .input-usulan select{
    padding: 0;
    color: #b8bcce;
  }
  .input-usulan .input-group-addon{
    border:none !important;
  }
  .input-usulan .image-upload img{
    float: left;
    width: 30%;
    margin-right: 10px;
  }
  .input-usulan .image-upload{
    margin-top: 20px;
  }
  .input-usulan .image-upload img:last-child{
    margin-right: 0;
  }
  .input-usulan .upload-button{
    margin-top: 0px;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .input-usulan .upload-button input[type='file']{
    position: absolute;
    top: 25px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .input-usulan .upload-button .btn{
    font-size: 12px;
    font-weight: normal;
    background-color: #e0e2eb;
    color: #555b70;
    width: 100%;
  }
  .input-usulan .upload-button .btn i{
    font-size: 14px;
  }
}